body{
    background-color: #020a42;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

h1{
    color: white;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 3px;
    position: relative;
}
h1::before{

    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    border-radius: 8px;
    background-color:rgb(2, 125, 2) ;

}
form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid rgb(2, 125, 2);
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 40px 15px;
    background-color: white;
}
form h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #323232;
}
.field{
display: flex;
flex-direction: column;
position: relative;
justify-content: center;


}

.underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background:#909090;
}
.underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background:rgb(2, 125, 2);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.field input{
    width: 250px;
    outline: none;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    color: rgb(19, 19, 20);
    background-color: white;
}


form button{
    padding: 10px;
    font-size: 25px;
    border: 2px solid rgb(2, 125, 2);
    border-radius: 15px;
    color: #d6d6d6;
    background-color: rgb(2, 125, 2);
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px #A0A0A0;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
    padding: 20px;
    
}
.card{
    width: 200px;
    color: #4a4a4a;
    border: 1.5px solid rgb(2, 125, 2);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    word-break: break-all;
    background-color: white;
}

.card img{
    width: 80%;
}


footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    color: #d6d6d6;
}

.devs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
}
.dev{
    width: 150px;
    height: 100px;
    color: #d6d6d6;
    font-size: 18px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    flex-direction: row;
    gap: 10px;
}

.links a img{
    height: 50px;
    width: 50px;
}